<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="miniCar">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/css/css.css">
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="/jiaoben/engine1/style.css">
    <script src="/jiaoben/engine1/jquery.js"></script>


<script type="text/javascript">
        $(function(){
            $('.cart_pro').hide();
            queryGood();
            countGood();
        })

    function loadCar(){
        $('.cart_pro').show();

    }
    function removeCar(){
            $('.cart_pro').hide();
        }
    function queryGood() {
            var id = $("#session").val()
            if(id==null | id==""){
                $.ajax({
                    url: "/shopping/getShopingTemp",
                    success: function (result) {
                        cont = "";
                        $.each(result,function (index,obj) {
                            cont+="<div class='one border'>";
                            cont+="<img src='"+obj.shptp+"' width='60' height='60'>";
                            cont+="<span class='one_name'>"+obj.mch+"</span>";
                            cont+="<span class='one_prece'><b>￥"+obj.jg+"</b><br />删除</span>";
                            cont+="</div>"
                        })
                        $(".cart_pro").html(cont);

                    },
                    error: function () {
                        alert("失败了");
                    }
                });
            }else{
        $.ajax({
            url: "/js/queryGood",
            data:{yh_id:id},
            success: function (result) {
                cont = "";
                $.each(result,function (index,obj) {
                    cont+="<div class='one border'>";
                    cont+="<img src='"+obj.shptp+"' width='60' height='60'>";
                    cont+="<span class='one_name'>"+obj.mch+"</span>";
                    cont+="<span class='one_prece'><b>￥"+obj.jg+"</b><br />删除</span>";
                    cont+="</div>"
                })
                $(".cart_pro").html(cont);

            },
            error: function () {
                alert("失败了");
            }
        });
            }
    }
        function countGood() {
            var id = $("#session").val()
            if(id==null){
                id=0
            }
            $.ajax({
                url: "/js/countGood",
                data:{yh_id:id},
                success: function (result) {
                    $("#num").html(result);
                },
                error: function () {
                    alert("失败了");
                }
            });
        }

        function loadShopping() {
            window.location.href="/toView?viewName=shopping";
        }
</script>
</head>
<body>

<div th:fragment="miniCar" ><!--style="position: absolute"-->
    <input type="hidden" id="session"   th:value="${session.userf?.id}">
<div class="card" onclick="loadShopping()" onmouseleave="removeCar()">

    <a href="" onmouseenter="loadCar()" >购物车<div class="num" id="num">0</div></a>

    <!--购物车商品-->
    <div class="cart_pro" style="height:320px;width:320px;overflow:auto">


        <div class="gobottom">
            共<span>2</span>件商品&nbsp;&nbsp;&nbsp;&nbsp;
            共计￥<span>20000</span>
            <button class="goprice">去购物车</button>
        </div>


    </div>

</div>
</div>
</body>
</html>