<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>绑卡设置</title>
</head>
<script src="/js/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
<script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
<!-- 引入bootstrap的css、js -->
<link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
<script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
<!-- 引入table的css、js -->
<link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
<script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<!-- 引入bootbox的js -->
<script type="text/javascript" src="/js/bootstrap-bootbox/bootbox.js"></script>
<!-- 引入日期的css、js -->
<link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- 引入文件上传的css、js -->
<link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
<script type="text/javascript" src="/js/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
<body>
<ol class="breadcrumb">
    <li class="active">销售中心</li>
    <li class="active">统计计算</li>
    <li class="active">绑卡提现</li>
</ol>




<form id="cardFrom">
    <div class="row myrow">
        <div class="col-md-1">
            <label for="bindingBank">开户银行:
            </label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control"  id="bindingBank" name="bindingBank" style="width:150px; height:30px;" />

        </div>
        <div class="col-md-1">
            <label for="bindingNumber">
                银行卡号:</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="bindingNumber" name="bindingNumber" style="width:150px; height:30px;" />
        </div>
        <br>
        <br>
    </div>
    <div class="row myrow">
        <div class="col-md-1">
            <label for="bindingPassword">支付密码:</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="bindingPassword" name="bindingPassword" style="width:150px; height:30px;" />
        </div>
        <div class="col-md-1">
            <label for="bindingPeople">持卡人:</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="bindingPeople" name="bindingPeople" style="width:150px; height:30px;" />
        </div>
        <br>
        <br>
    </div>
        <div class="row myrow">
            <div class="col-md-1">
                <label for="">开户银行:</label>
            </div>
            <div class="col-md-5">
                浦发银行
            </div>

            <div class="col-md-1">
                <label for="">卡类型:</label>
            </div>
            <div class="col-md-5">
                储蓄卡
            </div>
        </div>
    <div class="row myrow">
            <div class="col-md-1">
                <label for="bindingPhone">手机号:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="bindingPhone" name="bindingPhone"  onclick="butt()"  style="width:150px; height:30px;" />
            </div>
            <div class="col-md-1">
                <label for="password">验证码:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="a" name="password" style="width:150px; height:30px;" />
            </div>
            <br>
            <br>
    </div>
    <br>
    <br>
    <div style="width:800px;margin:5px auto;text-align:right">
        <p>
            <label>
                <input type="checkbox" name="aaa" id="aaa" />
                同意《用户协议》</label>
        </p>
        <p>
            <input type="button"
                   class="btn btn-primary"
                   name="button" id="button" value="注册" onclick="return check()" />
        </p>
    </div>
</form>

</body>


<script>
    function butt(){
        document.getElementById('a').value=Math.floor(Math.random()*(8999)+1000)
    }

    function check(){
        if(!document.getElementById("aaa").checked){alert("你必须同意协议");
        return false
        }
        alert("成功");
        $.ajax({
            url:'../saveBankCard',
            type:'post',
            contentType:'application/json;charset=UTF-8',

            data:JSON.stringify(
                {
                    'bindingBank':$("#bindingBank").val(),
                    'bindingNumber':$("#bindingNumber").val(),
                    'bindingPassword':$("#bindingPassword").val(),
                    'bindingPeople':$("#bindingPeople").val(),
                    'bindingPhone':$("#bindingPhone").val(),
                }
            ),
            dataType:'json',
            success:function(data){
                if(data){
                    bootbox.alert({
                        title: "提示",
                        buttons: {
                            ok: {
                                label: '确认',
                                className: 'btn-myStyle'
                            }
                        },
                        message: '绑卡成功',
                        callback: function() {
                            initSettlementRecord();

                        },
                    });
                }
            }
        });


        return true
    }

    function  initSettlementRecord() {

        window.location.href="../toSettlementShow"
    }
</script>
</html>