<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<title>结算记录</title>
</head>
<script src="/js/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
<script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
<!-- 引入bootstrap的css、js -->
<link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
<script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
<!-- 引入table的css、js -->
<link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
<script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<!-- 引入bootbox的js -->
<script type="text/javascript" src="/js/bootstrap-bootbox/bootbox.js"></script>
<!-- 引入日期的css、js -->
<link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- 引入文件上传的css、js -->
<link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
<script type="text/javascript" src="/js/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
<body>
<body>
<ol class="breadcrumb">
    <li class="active">销售中心</li>
    <li class="active">统计计算</li>
    <li class="active">结算记录</li>
</ol>

<pre><label>累计提现总金额:<font color="red">¥<span id="amount"></span></font></label></pre>

<table id="historyTable"></table>

</body>
<script type="text/javascript">
    $(function () {
        initTable();
        initamountWithdrawn();
    })

    function initTable() {
        $("#historyTable").bootstrapTable({
            url:'../querySettlementHistoryList',
            method:'get',
            columns: [{
                field: 'recordCommodity',
                title: '商品订单号'
            }, {
                field: 'recordTime',
                title: '结算申请时间'
            }, {
                field: 'recordAmount',
                title: '结算金额',
                formatter:function (value,row,index) {
                    return "<span style='color: red'>"+value+"</span>"
                }
            }, {
                field: 'recordSettling',
                title: '结算时间'
            },


                {
                field: 'recordStatus',
                title: '结算状态',formatter:function(value,row,index){
                        return value == 1 ?
                            "待结算" : value == 0 ? "已结算" : "";
                }
            }
            ]
        });
    }

    function  initamountWithdrawn() {
        $.ajax({
            url:'../amountWithdrawn',
            type:'get',
            dataType:'json',
            success:function (data) {
                $("#amount").html(data);
            }
        })
    }
</script>

</body>
</html>