<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入bootstrap的css、js -->
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入bootbox的js -->
    <script type="text/javascript" src="/js/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入日期的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- 引入文件上传的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
    <script type="text/javascript" src="/js/bootstrap-fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
    <script   type="text/javascript" src="/echarts/echarts.min.js"></script>

</head>
<body>
    <span>
         <button type="button" class="btn btn-primary" onclick="javascript:Stat()">成交量</button>
         <button type="button" class="btn btn-primary" onclick="javascript:Stat()">下单量</button>
         <div id="main" style="width: 600px;height:400px;"></div>
         <div id="main2" style="width: 600px;height:400px;"></div>
     </span>
</body>
<script>
    //基于准备好的dom，初始化echarts实例
    var myChart3 = echarts.init(document.getElementById('main'));
    var myChart4 = echarts.init(document.getElementById('main2'));
    // 使用刚指定的配置项和数据显示图表。
    myChart3.setOption();
    myChart4.setOption();
    function Stat(){
        $.ajax({
            url:"../stat",
            type:'get',
            success:function(data){
                var legends = [];// 准备存放图例数据
                var Series = []; // 准备存放图表数据
                for(var i=0;i < data.length;i++){
                    legends.push(data[i].name);// 将每一项的图例名称也放到图例的数组中
                    Series.push(data[i].value);// 将item放在series中
                }
                myChart4.setOption({
                    title: {
                        text: '30日下单量与成交量',
                    },
                    tooltip: {},
                    legend: {
                        data:['成交量']
                    },
                    xAxis: {
                        type: 'category',
                        data: legends
                    },
                    yAxis: {
                        type:'value'
                    },
                    series:[{
                        name: '成交量',
                        data:Series,
                        type:'line',
                    }]

                })
            }
        })
    }
</script>
</html>