<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="agencyFrom">
    <input type="hidden" id="productsId" name="productsId">
    <div class="row myrow">
        <div class="col-md-2">
            <label for="productsName">代理产品名称</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="productsName" name="productsName">
        </div>
        <div class="col-md-2">
            <label for="productsDistrict">代理区域</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="productsDistrict" name="productsDistrict">
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="productsDetail">代理需求</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="productsDetail" name="productsDetail">
        </div>
        <div class="col-md-2">
            <label for="productsLinkman">联系人</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="productsLinkman" name="productsLinkman">
        </div>
    </div>

    <div class="row myrow">
        <div class="col-md-2">
            <label for="productsPhone">联系电话</label>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" id="productsPhone" name="productsPhone">
        </div>
    </div>
</form>
</body>
</html>