<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.PortMapper">

    <select id="findSitePage" resultType="com.jk.pojo.SiteBean">
     SELECT
	s.*, city. NAME cityName,
	province. NAME provinceName
FROM
	t_site s
LEFT JOIN drug_area city ON s.cityid = city.id
LEFT JOIN drug_area province ON s.provinceId = province.id
    </select>
    <sql id="productWhere">
        <where>
            <if test="cargoNumber!=null and cargoNumber!='' ">
                and cargoNumber like '%${cargoNumber}%'
            </if>
            <if test="productName!=null and productName!='' ">
                and productName like '%${productName}%'
            </if>
            <if test="specifications!=null and specifications!='' ">
                and specifications like '%${specifications}%'
            </if>
            <if test="approvalNumber!=null and approvalNumber!='' ">
                and approvalNumber like '%${approvalNumber}%'
            </if>
            <if test="goodsState!=null and goodsState!='' ">
                and goodsState =#{goodsState}
            </if>
            <if test="auditStatus!=null and auditStatus!='' ">
                and auditStatus =#{auditStatus}
            </if>
        </where>
    </sql>
    <select id="findProductPage" resultType="com.jk.pojo.ProductBean">
        select * from drug_product
        <include refid="productWhere"></include>
    </select>
    <update id="batchDownById" parameterType="int">
        update drug_product set goodsState=2 where productId in
        <foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <update id="batchUpById" parameterType="int">
        update drug_product set goodsState=1 where productId in
        <foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <insert id="saveProduct" parameterType="com.jk.pojo.ProductBean">
INSERT INTO drug_product (
	adverseReaction,approvalNumber,attention,
	auditStatus,bigQuantity,cargoNumber,catalogue,centreQuantity,commoditImages,
	commoditVideo,commodityName,commodityPrices,commodityStocks,control,detail,drugFunction,
	drugInteractions,drugNumber,drugTaboo,drugToxicology,expirationDate,goodsState,
	healthType,ingredient,InventorWarning,manufacturer,market,marketPrice,
	measure,overdose,parturitionTime,prescription,productName,purchaserType,
    qualification,recommend,specifications,validity,freight,bigClass,centreClass,smallClass,
    agentiaId
) VALUES(
    #{adverseReaction},#{approvalNumber},#{attention},#{auditStatus},#{bigQuantity},
    #{cargoNumber},#{catalogue},#{centreQuantity},#{commoditImages},#{commoditVideo},#{commodityName},
    #{commodityPrices},#{commodityStocks},#{control},#{detail},#{drugFunction},#{drugInteractions},#{drugNumber},
    #{drugTaboo},#{drugToxicology},#{expirationDate},1,#{healthType},#{ingredient},
    #{InventorWarning},#{manufacturer},#{market},#{marketPrice},#{measure},#{overdose},#{parturitionTime},
    #{prescription},#{productName},#{purchaserType},#{qualification},#{recommend},#{specifications},
    #{validity},#{freight},#{bigClass},#{centreClass},#{smallClass},#{agentiaId}
)
    </insert>
    <update id="updateProduct" parameterType="com.jk.pojo.ProductBean">
      update drug_product set  adverseReaction=#{adverseReaction},approvalNumber=#{approvalNumber},attention=#{attention},bigQuantity=#{bigQuantity},
    cargoNumber=#{cargoNumber},catalogue=#{catalogue},centreQuantity=#{centreQuantity},commoditImages=#{commoditImages},commoditVideo=#{commoditVideo},commodityName=#{commodityName},
    commodityPrices=#{commodityPrices},commodityStocks=#{commodityStocks},control=#{control},detail=#{detail},drugFunction=#{drugFunction},drugInteractions=#{drugInteractions},drugNumber=#{drugNumber},
    drugTaboo=#{drugTaboo},drugToxicology=#{drugToxicology},expirationDate=#{expirationDate},healthType=#{healthType},ingredient=#{ingredient},
    InventorWarning=#{InventorWarning},manufacturer=#{manufacturer},market=#{market},marketPrice=#{marketPrice},measure=#{measure},overdose=#{overdose},parturitionTime=#{parturitionTime},
    prescription=#{prescription},productName=#{productName},purchaserType=#{purchaserType},qualification=#{qualification},recommend=#{recommend},specifications=#{specifications},
    validity=#{validity},freight=#{freight},bigClass=#{bigClass},centreClass=#{centreClass},smallClass=#{smallClass},agentiaId=#{agentiaId}
    where productId=#{productId}
    </update>
    <insert id="saveAttract" parameterType="com.jk.pojo.AttractBean">
    insert into t_attract_consult(headline,overTime,productName,specifications,approvalNumber,
    manufacturer,drugNumber,packagesNumber,merchantsImg,bigClass,centreClass,smallClass,provinceId,cityid,trademark,healthType,details,cashDeposit,investment,catalogue,createTime)
    values (#{headline},#{overTime},#{productName},#{specifications},#{approvalNumber},
    #{manufacturer},#{drugNumber},#{packagesNumber},#{merchantsImg},#{bigClass},#{centreClass},#{smallClass},#{provinceId},#{cityid},#{trademark},#{healthType},#{details},
    #{cashDeposit},#{investment},#{catalogue},#{createTime})
    </insert>
    <select id="findAttractCount" resultType="int">
          select count(*) from t_attract_consult a
          <include refid="attractWhere"></include>
    </select>
    <sql id="attractWhere">
        <where>
            <if test="attractBean.productName!=null and attractBean.productName!='' ">
                and a.productName like '%${attractBean.productName}%'
            </if>
            <if test="attractBean.provinceId!=null and attractBean.provinceId!='' and attractBean.provinceId!=0 ">
                and a.provinceId =#{attractBean.provinceId}
            </if>
            <if test="attractBean.bigClass!=null and attractBean.bigClass!='' and attractBean.bigClass!=0 ">
                and a.bigClass =#{attractBean.bigClass}
            </if>
            <if test="attractBean.centreClass!=null and attractBean.centreClass!='' and attractBean.centreClass!=0 ">
                and a.centreClass =#{attractBean.centreClass}
            </if>
            <if test="attractBean.smallClass!=null and attractBean.smallClass!='' and attractBean.smallClass!=0 ">
                and a.mallClass =#{attractBean.smallClass}
            </if>
        </where>
    </sql>
    <select id="findAttractPage" resultType="com.jk.pojo.AttractBean">
        SELECT
        a.*, province. NAME provinceName,
        city. NAME cityName
        FROM
        t_attract_consult a
        LEFT JOIN drug_area province ON a.provinceId = province.id
        LEFT JOIN drug_area city ON a.cityid = city.id
        <include refid="attractWhere"></include>
       <if test="attractBean.createTime==1 and attractBean.createTime!=null ">
            Order by a.createTime
        </if>
        <if test="attractBean.createTime==2 and attractBean.createTime!=null ">
            Order by a.createTime desc
        </if>
        <if test="attractBean.investment==1 and attractBean.investment!=null ">
            Order by a.investment
        </if>
        <if test="attractBean.investment==2 and attractBean.investment!=null ">
            Order by a.investment desc
        </if>
        <if test="attractBean.cashDeposit==1 and attractBean.cashDeposit!=null ">
            Order by a.cashDeposit
        </if>
        <if test="attractBean.cashDeposit==2 and attractBean.cashDeposit!=null ">
            Order by a.cashDeposit desc
        </if>
      limit #{start},#{rows}

    </select>
    <select id="findAgencyCount" resultType="int">
      select count(*) from t_products p
      <include refid="productsWhere"></include>
    </select>
    <sql id="productsWhere">
        <where>
            <if test="productsBean.productsName!=null and productsBean.productsName!='' ">
                    and p.products_name like '%${productsBean.productsName}%'
            </if>
            <if test="productsBean.productsProvince!=null and productsBean.productsProvince!='' and productsBean.productsProvince!=0 ">
                and p.products_province =#{productsBean.productsProvince}
            </if>
            <if test="productsBean.productsType!=null and productsBean.productsType!='' and productsBean.productsType!=0 ">
                and p.products_type =#{productsBean.productsType}
            </if>
            <if test="productsBean.productsTyped!=null and productsBean.productsTyped!='' and productsBean.productsTyped!=0 ">
                and p.products_typed =#{productsBean.productsTyped}
            </if>
            <if test="productsBean.productsTyping!=null and productsBean.productsTyping!='' and productsBean.productsTyping!=0 ">
                and p.products_typing =#{productsBean.productsTyping}
            </if>
        </where>
    </sql>
    <select id="findAgencyPage" resultType="com.jk.pojo.ProductsBean">
  SELECT
            products_id productsId,
            products_name productsName,
            products_district productsDistrict ,
            products_detail productsDetail,
            products_linkman productsLinkman,
            products_phone productsPhone ,
            province. NAME productsProvinceName,
            city. NAME productsCityName,
          district.name productsDistrictName
        FROM
            t_products p
        LEFT JOIN drug_area province ON p.products_province = province.id
        LEFT JOIN drug_area city ON p.products_city = city.id
        left join drug_area district on p.products_district = district.id
        <include refid="productsWhere"></include>
        limit #{start},#{rows}
    </select>
</mapper>
