<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>结算申请</title>
</head>
<script src="/js/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
<script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
<!-- 引入bootstrap的css、js -->
<link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
<script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
<!-- 引入table的css、js -->
<link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
<script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<!-- 引入bootbox的js -->
<script type="text/javascript" src="/js/bootstrap-bootbox/bootbox.js"></script>
<!-- 引入日期的css、js -->
<link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- 引入文件上传的css、js -->
<link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
<script type="text/javascript" src="/js/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
<body>




<div id="base" class="">

    <ol class="breadcrumb">
        <li class="active">销售中心</li>
        <li class="active">统计计算</li>
        <li class="active">结算申请</li>
    </ol>


    <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            待结算金额：¥ <span id="money">   </span>
            </li>

        <li class="list-group-item list-group-item-warning">
            可提现金额：¥ <span id="cash">   </span>
            </li>
    </ul>


    <div id="u12810" class="ax_default label">
        <div id="u12810_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12811" class="text" style="visibility: visible;">
            <p> <span style="color:#FF0000;">订单状态为已完成时即可申请提现&nbsp; &nbsp; </span><span style="color:#20A0FF;"><a href="#">立即绑卡</a></span> </p>
        </div>
    </div>
</div>

<div id="toolbar">
    <form class="form-inline">
        <div class="form-group">
            <label for="username">订单号</label>
            <input type="text" class="form-control" id="username" placeholder="请输入订单号">
            &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;


            <label for="username">商品名称</label>
            <input type="text" class="form-control" id="a" >
            &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;


            <label for="username">采购商</label>
            <input type="text" class="form-control" id="b" >
            &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;


            <select style="width:100px;">
                <option value ="volvo">Volvo</option>
                <option value ="saab">Saab</option>
            </select>

        </div>
          &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
        <button type="button" class="btn btn-primary glyphicon glyphicon-search" onclick="searchUser()">搜索</button>
    </form>
</div>



<table class="table" id="settlementTable"></table>


</body>
<script type="text/javascript">

$(function (){
    initSettlementTable();//列表展示方法
    initSumSettlement();//待结算金额的方法
    initSettlementWithdrawal()//可提现金额方法
})
/*待结算金额*/
function  initSumSettlement() {
    $.ajax({
        url:'../settlementPaymentList',
        type:'get',
        dataType:'json',
        success:function (data) {
            $("#money").html(data);
        }
    })
}
/*可提现金额方法*/
function initSettlementWithdrawal() {
    $.ajax({
        url:'../settlementCashList',
        type:'get',
        dataType:'json',
        success:function (data) {
            $("#cash").html(data);

        }
    })
}
        /*结算列表展示*/
    function initSettlementTable() {
        $("#settlementTable").bootstrapTable({
            url:'../settlementList',
            striped:true,//条纹表格
            columns:[
                {field:"settlementNumber",title:"订单号"},
                {field:"settlementName",title:"商品名称"},
                {field:"settlementSpecifications",title:"规格"},
                {field:"settlementEnterprise",title:"采购企业"},
                {field:"settlementPrice",title:"单价"},
                {field:"settlementPayment",title:"实结货款"},
                {field:"settlementPromotion",title:"促销"},
                {field:"settlementCommission",title:"推广佣金"},
                {field:"settlementMoney",title:"应收金额"},
                {field:"settlementState",title:"结算状态",formatter:function(value,row,index){
                        return value == 1 ?
                            "待结算" : value == 0 ? "可结算" : "";
                    }},
                {field:"settlementState",title:"操作",formatter:function(value,row,index){
                        return value == 1 ? "<a href='#'>查看</a>" : value == 0? "<a href='#'>申请结算</a>  &nbsp;  &nbsp;  <a href='#'>查看</a>":"";
                    }},
            ]
        })
    }





</script>
</html>