<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet"
          href="/js/bootstrap-3.3.7-dist/css/bootstrap.css"></link>
    <link rel="stylesheet"
          href="/js/bootstrap-table/bootstrap-table.css"></link>
    <link rel="stylesheet"
          href="/js/bootstrap-treeview/bootstrap-treeview.min.css">
    <link rel="stylesheet"
          href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"></link>
    <link rel="stylesheet" href="/js/bootStrap-addTabs/bootstrap.addtabs.css"></link>
    <script type="text/javascript"
            src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-bootbox/bootbox.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script src="/js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>


</head>


<script type="text/javascript">

    $(function(){
        getTree();
    })
    /*function getTree(){
        $.ajax({
            url:"/to/getTree",
            type:"POST",
            success:function(pageUtil){
               console.log(pageUtil)
             $("#tree").treeview({data:pageUtil,
                  onNodeSelected:function(event, data) {
                         $.addtabs({iframeHeight: 550});//(控制高度)
                      console.log(data)
                         if(data.nodes==null){

                            $.addtabs.add({
                               alert(2222),
                                id:data.id,
                                title:data.text,
                                url:data.href
                        });
                         }
                    }
                 });
            },error:function(){
                alert("失败了");
            }
        });
    }*/



    //查询树
    function getTree(){
        $.ajax({
            url:'/to/getTree',
            success:function(data){
                $('#myTree').treeview({
                    data:data,
                    onNodeSelected:function(event, node) {
                        $.addtabs({iframeHeight: 550});
                        $.addtabs.add({
                            id:node.id,
                            title:node.text,
                            url:node.href
                        });
                    }
                })
            }
        })

    }
</script>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!-- 展示树 -->
            <div id="myTree"></div>
        </div>
        <div class="col-md-10">
            <div id="myTabs">
                <!-- 新选项卡 -->
                <ul class="nav nav-tabs" id="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">欢迎</a>
                    </li>
                </ul>
                <!-- 选项卡下内容 -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        你好
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>