<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet"
          href="/js/bootstrap-3.3.7-dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet"
          href="/js/bootstrap-table/bootstrap-table.min.css"></link>
    <link rel="stylesheet"
          href="/js/bootstrap-treeview/bootstrap-treeview.min.css"></link>
    <link rel="stylesheet"
          href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"></link>
    <link rel="stylesheet" href="/js/bootStrap-addTabs/bootstrap.addtabs.css"></link>
    <script type="text/javascript"
            src="/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-table/bootstrap-table.min.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-bootbox/bootbox.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script src="/js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
</head>


<script type="text/javascript">

    $(function(){

        getTree();
    })
    function getTree(){

        $.ajax({
            url:"/to/getTree",
            type:"POST",
            data:$("form").serialize(),
            success:function(pageUtil){
                $("#tree").treeview({data:pageUtil,
                    onNodeSelected:function(event, data) {
                        $.addtabs({iframeHeight: 650});//(控制高度)
                        if(data.nodes==null){
                            $.addtabs.add({
                                id:data.id,
                                title:data.text,
                                url:"/to/tovivw?name="+data.href
                            });
                        }
                    }
                });
            },error:function(){
                alert("失败了");
            }
        });
    }
</script>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div id="tree"></div>
        </div>
        <div class="col-md-9">
            <div id="myTabs">
                <div >
                    <!-- 新选项卡 -->
                    <ul class="nav nav-tabs" >

                    </ul>

                    <!-- 选项卡下内容 -->
                    <div class="tab-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>