.sp-wrap {
    display:none;
    background:#fff;
    position:relative;
    border: 1px solid #E4E4E4;
    width: 388px;
    text-align: center;
}
.sp-large {
    position:relative;
    overflow:hidden;
}
.sp-large a img {
    max-width:100%;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    height: 388px;
}
.sp-large a {
    display:inline-block;
}
.sp-thumbs {
    width:100%;
    text-align:left;
}
.sp-thumbs img {
    width:87px;
    height:87px;
}
.sp-thumbs a:link, .sp-thumbs a:visited {
    border:5px solid #eee;
    display:inline-block;
}
.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current {
    border:5px solid #5BC9B7!important;
}
.sp-zoom {
    position:absolute;
    left:0;
    top:0;
    cursor:zoom;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    display:none;
}