<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style type="text/css">
        .row{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<div style="width:550px">
<form id="From">
    <div class="row">
        <div class="col-md-2">
            <input type="hidden" name="id" id="id">
            <label for="name">客服名称:</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="name" id="name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="qq">客服QQ:</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="qq" id="qq">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="status">状态:</label>
        </div>
        <div class="col-md-4">
            <input type="radio"  name="status" value="0">停用
            <input type="radio"  name="status" value="1">启用
        </div>
    </div>
</form>
</div>
</body>
</html>