<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style type="text/css">
        .row{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<div style="width:550px">
<form id="From">
    <div class="row">
        <div class="col-md-2">
            <input type="hidden" name="id" id="id">
            <label for="headline">公告标题:</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="headline" id="headline">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="content">公告内容:</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="content" id="content">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="status">状态:</label>
        </div>
        <div class="col-md-4">
            <input type="radio"  name="status" value="0">下线
            <input type="radio"  name="status" value="1">上线
        </div>
    </div>
</form>
</div>
</body>
</html>