<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-bootbox/bootbox.js"></script>
<link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css">
<script type="text/javascript" src="/js/bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
<script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<link rel="stylesheet" href=/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css>
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/ja vascript" src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
<script src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
<link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
<head>
    <meta charset="UTF-8">
    <title>退货管理！</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <span class="navbar-brand"><a target="a" href="/selectReturned">退货</a></span>
        <span class="navbar-brand"><a target="a" href="/selectMoney">退款</a></span>
    </div>
    <div class="navbar-right">
        <span class="navbar-brand glyphicon glyphicon-user"></span>
        <span class="navbar-brand glyphicon glyphicon-home"></span>
        <span class="navbar-brand glyphicon glyphicon-bell"></span>
        <span class="navbar-brand glyphicon glyphicon-off"></span>
    </div>
</nav>
<div style="margin-top: 55px;">
    <iframe name="a" height="600" width="100%" src="/selectReturned">
    </iframe>
</div>
<body>

</body>
</html>