<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-bootbox/bootbox.js"></script>
<link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css">
<script type="text/javascript" src="/js/bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
<script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<link rel="stylesheet" href=/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css>
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/ja vascript" src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
<script src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
<link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
<head>
    <meta charset="UTF-8">
    <title>sale！</title>
</head>
<body>

   <table id="table" class="table"></table>
</body>
   <script>
   $("#table").bootstrapTable({
       url:"findList",
       pagination:true,
       pageList:[2,4,6,8],
       pageSize:2,
       sidePagination:'server',//分页方式：client客户端分页，server服务端分页
       striped:true,//条纹表格
       queryParams:function(){
           return {
               page:this.pageNumber,
               rows:this.pageSize,
           };
       },
       columns:[
           {field:"check",checkbox:true},
           {field:"id",title:"id"},
           {field:"name",title:"采购商品"},
           {field:"lowerTime",title:"下单时间"},
           {field:"paymentTime",title:"支付时间"},
           {field:"address",title:"采购商"},
           {field:"count",title:"采购数量"},
           {field:"extension",title:"推广产品",formatter:function(value,row,index){
               return   value==0?"否":"是";
           }},
           {field:"activity",title:"活动产品",formatter:function(value,row,index){
               return   value==0?"否":"是";
           }},
           {field:"money",title:"实收款",formatter:function(value,row,index){
               return   "<font color='red'>"+value+"</font>";
           }},
           {field:"status",title:"订单状态",formatter:function(value,row,index){
               return   value==0?"待支付":"待发货";
           }},
           {field:"status",title:"操作",formatter:function(value,row,index){
               return   value==0?"<a href=''>查看订单</a> <a href=''>取消订单</a>":"<a href=''>发货</a>";
   }}
       ]
   })
   </script>
</html>