<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-bootbox/bootbox.js"></script>
<link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css">
<script type="text/javascript" src="/js/bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
<script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<link rel="stylesheet" href=/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css>
<script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/ja vascript" src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
<script src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
<link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
<head>
    <meta charset="UTF-8">
    <title>！</title>
</head>
<div id="toolbar" style="margin-top:10px">
    <form class="form-inline" style="margin-left:10px">
        <div class="form-group">
            <label for="name"></label>
            <input type="text" class="form-control" id="name" name="name" placeholder="请输入商品名">
        </div>
        <div style="margin-left:10px">
            <button type="button" class="btn btn-primary glyphicon glyphicon-search" onclick="search()">搜索</button>
        </div>
    </form>
</div>
    <table id="table" class="table"></table>
</body>
<script>
//查询销售列表
       $("#table").bootstrapTable({
       url:"findSupply",
           pagination:true,
           pageList:[2,4,6,8],
           pageSize:4,
           sidePagination:'server',//分页方式：client客户端分页，server服务端分页
           striped:true,//条纹表格
       queryParams:function(){
           return {
               page:this.pageNumber,
               rows:this.pageSize,
               name:$("#name").val()
           };
       },
       columns:[
           {field:"name",title:"商品名称"},
           {field:"specification",title:"规格"},
           {field:"phone",title:"联系电话"},
           {field:"linkman",title:"联系人"},
           {field:"count",title:"数量"},
           {field:"type",title:"分类"},
           {field:"time",title:"发布时间"},
       ]
   })
//搜索
function search(){
    $('#table').bootstrapTable('refresh');
}
</script>
</html>