<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="js/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="js/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">

    <link rel="stylesheet" href="./资讯平台_files/navregister.css">
    <link rel="shortcut  icon" type="image/x-icon" href="http://www.xb1y.com/index.php/Home/Article/favicon.ico" media="screen">
    <link rel="shortcut  icon" type="image/x-icon" href="http://www.xb1y.com/index.php/Home/Article/favicon.ico" media="screen">

    <link rel="stylesheet" href="./首页_files/common.css">
    <link rel="stylesheet" href="./首页_files/css.css">
</head>

<body>
<header class="main-header">
    <div class="logotop">
        <div class="logotop-bar">
            <div class="logotop-lf">
                Hi,欢迎来到西北医药网
                <span id="span">

        </span>
            </div>
            <ul class="logotop-rt">
                <li>服务热线：400-0097-600</li>
                <li><a href="http://www.xb1y.com/index.php/Home/MemberBuyer/MyOrder.html">我的订单 </a></li>
                <li><a href="http://www.xb1y.com/index.php/Home/Goods/user_cart.html">我的购物车</a></li>
                <li><a href="http://www.xb1y.com/index.php/Home/Index/index.html#">帮助中心</a></li>
                <li><a href="http://www.xb1y.com/index.php/Home/Index/index.html#">收藏网站</a></li>
            </ul>
        </div>
    </div>
    <!--logo栏目-->
    <div class="logobox" style="overflow:initial;height:120px;">
        <div class="logoimg">
            <a href="http://www.xb1y.com/index.php/Home/Index/index.html">
                <img src="./首页_files/index_03.png" width="303" height="125">
            </a>
        </div>
        <div class="logobox-rt" style="overflow:initial">
            <form action="http://www.xb1y.com/index.php/Home/Index/search.html" method="get">
                <div class="search-box" style="overflow:initial">
                    <input type="text" class="ss-input" name="key" value="" placeholder="请输入关键字进行搜索">
                    <button type="submit">搜索</button>
                </div>
            </form>
            <script>

                $("body").on("input propertychange",".ss-input",function(){
                    var name=$(".ss-input").val();
                    // alert(name);
                    $.ajax({
                        type:'post',
                        url:"/index.php/Home/Index/see.html",
                        data:{'name':name},
                        success:function(data){
                            if(data.state=='1'){
                                var html="";
                                //console.log(data.temp)
                                for(var i=0;i<data.temp.length;i++){
                                    html +="<div class='xl-list' inclick>"+data.temp[i].goods_name +"</div>";
                                }

                                $("#zhaode").html(html);

                            }
                        }
                    });

                })
                var text22 = '';
                $("#zhaode").on('mouseover',"div", function(){
                    text22 = $(this).html()
                    //$('.ss-input').val()
                })
                $('.ss-input').focus(function(){
                    $('.input-xlbox').show();
                    $('.input-xlbox').css('zIndex','999');
                    $('.input-xlbox').css('opacity','1');
                });
                $('.ss-input').blur(function(){
                    $('.input-xlbox').css('zIndex','-1');
                    $('.input-xlbox').css('opacity','0');
                    $(this).val(text22)
                });

            </script>
            <style>
                .input-xlbox{position: absolute;width:350px;top:41px;left:-1px;background:#fff;border:1px solid #ff912f;display:none;}
                .xl-list{width:100%;padding:5px;box-sizing:border-box;}
                .xl-list:hover{background:#f2f2f2}
            </style>
            <div style="float:right;">

                <a href="http://www.xb1y.com/index.php/Home/MemberBuyer/MemberBuyer_lackmedicine_add.html" class="drug-register">
                    <img src="./首页_files/index_06.png"> 缺药登记
                </a>

                <a href="http://www.xb1y.com/index.php/Home/Goods/user_cart.html" class="myshopping">
                    <img src="./首页_files/index_08.png">
                    我的购物车
                </a>
            </div>
        </div>
    </div>
    <!--导航-->
    <div class="navbar">
        <div class="navbox">
            <h3>药品分类</h3>
            <ul class="navbar-list">
                <li><a href="/tovivw?name=slideshow">首页</a></li>
                <li><a href="/tovivw?name=attract">招商/代理</a></li>
                <li><a href="/tovivw?name=enterprise">上榜企业</a></li>
                <li><a href="/tovivw?name=data">数据中心</a></li>
                <li><a href="#">资讯平台</a></li>
                <li><a href="#">医药会展</a></li>
                <li><a href="/tovivw?name=activityArea">活动专区</a></li>
            </ul>
        </div>
    </div>
    <script>
    $(function(){
    firstMenu();
    getLoginUser();
    })
    function getLoginUser(){
    var cookie_name='userName';
    var name=$.cookie(cookie_name);
    var count="";
    if(name!=''){
    console.log(name)
    count+="【";
    count+=JSON.parse($.cookie(cookie_name));
    count+="|<a href='#' onclick='logout()' style='color:#e57816;'>退出登录</a>";
    count+="】";

    }else{
    console.log(1111)
    count+="【";
    count+="<a href='/tovivw?name=login' style='color:#e57816;'>请先登录</a>";
    count+="|<a href='/tovivw?name=register'>免费注册</a>";
    count+="】";
    }
    $("#span").html(count)
    }
    function logout() {
    var cookie_name='userName';
    $.cookie(cookie_name, '');
    $("#span").html();
    getLoginUser();
    }
   </script>
    <style>
        .xb-rightbox{width:50px;height:655px;position: fixed;right:0;top:15%;background: #377bee;border-radius: 5px;padding:0 2.5px;box-sizing:border-box;color:#fff;text-align:center;}
        .xb-right_list{color:#fff;margin-top:50px;}
        .xb-right_list img{width:36px;}
        .xb-qq{margin:5px auto;width:20px;height:20px;border-radius:50%;background:#ff5a00;line-height:20px;font-size:12px;}
    </style>

    <div class="content-wrapper">
        <section class="content">
            <!--数据中心-->
            <div class="databig-box">
                <!--数据栏目顶部列表-->
                <div class="info-box">
                    <ul class="data-top-list">
                        <li style="background-color:#28aadc;">
                            <a href="http://192.168.101.108:1999/selectData">
                                <img src="资讯平台_files/info_03.png">
                                <p>中标数据药品库 </p>
                            </a>
                        </li>
                        <li style="background-color:#219fd0;">
                            <a href="http://192.168.101.108:1999/selectDrugstore">
                                <img src="资讯平台_files/info_03.png">
                                <p>药店、诊所大全 </p>
                            </a>
                        </li>
                        <li style="background-color:#1b93c1;">
                            <a href="http://192.168.101.108:1999/selectHospital">
                                <img src="资讯平台_files/info_03.png">
                                <p>医院大全</p>
                            </a>
                        </li>
                        <li style="background-color:#dc7316;">
                            <a href="">
                                <img src="资讯平台_files/info_03.png">
                                <p>招商信息下载</p>
                            </a>
                        </li>
                        <li style="background-color:#e3812b;">
                            <a href="">
                                <img src="资讯平台_files/info_03.png">
                                <p>资质下载</p>
                            </a>
                        </li>

                        <li style="background-color:#ef9545;">
                            <a href="">
                                <img src="资讯平台_files/info_03.png">
                                <p>国药会展资料下载</p>
                            </a>
                        </li>
                    </ul>
                </div>

<div id="toolbar">
    <form class="form-inline" style="margin-left: 10px">
        <div class="form-group">
            <label for="name">药店名称：</label>
            <input type="text" class="form-control" id="name" name="name" style="width: 150px">
        </div>

        <div class="form-group" style="margin-left: 150px">
        所在地区：
        <select name="address"  id="address" style="width: 130px;height: 30px;" onchange="search()">
            <option value="0" selected >请选择类别</option>
            <option value="1" >香格里拉</option>
            <option value="2" >马尔代夫</option>
        </select>
        </div>

        <div style="margin-left:600px">
            <button type="button" class="btn btn-warning glyphicon glyphicon-search" onclick="search()">搜索</button>
        </div>
    </form>
</div>
<table id="table" class="table"></table>
</body>
<script>
    $("#table").bootstrapTable({
        url: "http://192.168.101.108:1999/findDrugstore",
        pagination: true,
        pageList:[2,4,6,8],
        pageSize: 4,
        sidePagination: 'server',//分页方式：client客户端分页，server服务端分页
        striped: true,//条纹表格
        queryParams: function () {
            return {
                page: this.pageNumber,
                rows: this.pageSize,
                name:$("#name").val(),
                address:$("#address").val()
            };
        },
        columns: [
            {field: "name", title: "药店名称"},
            {field: "address", title: "地址",formatter: function (value, row, index) {
                    return value == 1 ? "香格里拉" : (value == 2 ? "马尔代夫" : value == 3 ? "山东邯郸" : value == 4 ? "河北洛阳" : "");
            }},
            {field: "phone", title: "联系方式"}
        ]
    })
    //搜索
    function search(){
        $('#table').bootstrapTable('refresh');
    }
</script>
</html>